@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i');
/*425 768*/
$main-background: #222;
$main-color: #FFFFFF;
$font-name: 'Titillium Web';
$font-type: sans-serif;

html
{
  body {
    margin: 0;
    padding: 0;
    font-family: $font-name, $font-type;
  }
}

body {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height:100vh;
  background-color: $main-background;
  color: $main-color;
  text-align: center;
  font-size: 30pt;
  letter-spacing: 2.5px;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $main-color;
  &:visited {

  }
  &:hover {
    background-color: $main-color;
    color: $main-background;
  }
  &:active {

  }

}
ul {
  margin: 0;
  padding: 0;
  li {

  }
}
header {
  width: 100%;
  position: absolute;
  nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    ul {
      background-color: rgba(34,34,34,0.95);
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        display: inline-block;
        width: 50%;

      }
    }
  }
}
.body-2 {
  background-color: $main-color;
  color: $main-background;
  transition: all 0.3s ease-in-out;
}

a.nav-links {
  text-decoration: none;
  font-size: 25pt;
  font-weight: 200;
  color: $main-color;
  transition: all 0.3s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  &:visited {
  }
  &:hover {
    background-color: $main-color;
    color: $main-background;
  }
  &:active {
  }
}

.li-show {
  display: none;
}
.li-nav {
  //transition: all 1s steps(50,end);
  opacity: 0.1;
}
/*
#link-list:hover > .li-nav {
  //transition: all 1s steps(50,end);
  transition: all 0.3s ease-in-out;
}*/

// ul.link-holders {
//   // transition: all 0.3s ease-in-out;
// }


main {

}
footer {

}

#all
{
  display: flex;
  flex-direction: column;
}

.row {
  width:100%;
  height: 100vh;
  font-size: 75pt;
  font-weight: 200;
  position: relative;
  // border-width: 1px;
  // border-style: solid;
  // border-color: white;
}
#landing {
  transition: all 0.3s ease-in-out;
}
.row-diff {
  transition: all 0.3s ease-in-out;
  background-color: $main-color;
}

.container {
  .box {
    width: 80%;
    margin-left: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }
  #box-friends {
    width: 100%;
  }
}
a#name-paypal {
  transition: all 0.3s ease-in-out;
  //opacity: 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  &:hover {
    background-color: unset;
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.section-sub-headers {
  font-size: 15pt;
}

//friends part
div.friends-all {
  // border-width: 1px;
  // border-color: $main-color;
  // border-style: solid;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div#friend-lil-bitch {
  background-image: url("../images/hamish_aaron.png");
}
div#friend-macpherson {
  background-image: url("../images/hamish_alex.png");
}
div#friend-baxo {
  background-image: url("../images/hamish_baxo.png");
}
div#friend-golden {
  background-image: url("../images/hamish_golden.png");
}
div#friend-tk {
  background-image: url("../images/hamish_tk.png");
}
div#friend-yash {
  background-image: url("../images/hamish_yash.png");
}
div.inner-friends {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: inline-flex;
  align-items: center;
  &:hover {
    opacity: 0.7;
  }
}

div.inner-two-friends {
  width: 100%;
}
div#inner-lil-bitch {
  &:hover {
    background-color: #fa4b4b;
  }
}
div#inner-macpherson {
  &:hover {
    background-color: brown;
  }
}
div#inner-baxo {
  &:hover {
    background-color: greenyellow;//NavajoWhite
  }
}
div#inner-baxo, div#inner-yash {
  &:hover {
    color: black;
  }
}
div#inner-golden {
  &:hover {
    background-color: #BF9223;
  }
}
div#inner-tk {
  &:hover {
    background-color: cornflowerblue;
  }
}
div#inner-yash {
  &:hover {
    background-color: $main-color;
  }
}
a.links-friends {
  padding: 0;
  margin: 0;
  border: 0;
  &:hover {
    background-color: unset;
    color: $main-color;
  }
}

a.links-baxo-yash {
  color: black;
  background-color: unset;
  &:hover {
    color: black;
  }
}

//Contact part
div.section-cols {
  display: flex;
}
div.contact-both, div.friends-all {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25pt;
}
div#contact-left {

}
div#contact-right {

}
div#inner-left {
  display: block;
  text-align: left;
}
a.contact-links {
  display: inline-block;
}

form#contact-me {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100%;
  input, textarea {
    font-family: $font-name, $font-type;
    font-size: 15pt;
    //margin: 20px 5px 20px 5px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 12.5px 10px 12.5px;//top right bottom left
    border: 0;
    display: block;
    width: 75%;
    background-color: $main-color;
    //color: $main-background;
    border: 1px solid rgba(255, 255, 255, 1);
    &:focus {
      box-shadow: 0 0 5px rgba(255, 255, 255, 1);
      border: 1px solid rgba(255, 255, 255, 1);
    }
  }

  input#input-submit {
    width: 80%;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $main-background;
      color: $main-color;
    }
  }
  /*
  input.contact-inputs {
    margin: 0 auto;
    padding: 0;
    border: 0;
  }
  input#input-submit {

  }*/
}
